<p style="color: green" class="text-center"><%= notice %></p>
<div class="text-center m-4"><%= link_to "New user", url_for([:new,:user]) %></div>
<h1 class="text-center">Users</h1>
<div id="users">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Edit</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </tbody>
  </table>
</div>
